html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    font-size: 1rem;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 100%;
}

.container {
    width: 45rem;
}

/* navbar */

nav {
    padding-top: .625rem;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

nav > .container > a > img {
    width: 7.75rem;
    height: 2rem;
}

.navbar > ul,
.navbar .btn-outline-sm {
    display: none;
}

.navbar .navbar-toggler {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border: none;
}

.navbar .navbar-toggler:hover {
    cursor: pointer;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* header */

header {
    padding: 11rem 0 5rem;
    text-align: center;
}

header .text-container {
    margin-top: 0;
}

header .text-container h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

header .image-container {
    margin-top: 5rem;
    text-align: center;
}

/* counter */

.counter-container .counter-cell:first-child {
    margin-left: 2rem;
}

.counter-container .counter-cell:last-child {
    margin-right:2rem;
}

.counter-cell .purecounter {
    font-size: 4rem;
    line-height: 2rem;
}

/* details */

#details .row {
    flex-direction: column;
}

#details .col-4 {
    flex: 0 0 auto;
    width: 100%;
}

#details .col-5 {
    flex: 0 0 auto;
    width: 100%;
}

#details .image-container {
    margin-bottom: 5rem;
}

/* services */

.col-6 {
    flex: 0 0 auto;
    width: 100%;
}

#services .text-container {
    margin-bottom: 5rem;
}

.col-7 {
    flex: 0 0 auto;
    width: 100%;
}

/* basic-3 */

.basic-3 .col-8 {
    flex: 0 0 auto;
    width: 100%;
}

.basic-3 .col-9 {
    flex: 0 0 auto;
    width: 100%;
}

.basic-3 .image-container {
    text-align: left;
}

/* basic-4 */

.basic-4 h4 {
    width: 100%;
    margin: 0 0 2rem;
}

/* cards-2 */

.cards-2 .card {
    width: 21.875rem;
    margin: 0 auto 4.5rem;
    display: flex;
    flex-direction: column;
}

.cards-2 .h2-heading {
    width: 100%;
}

.cards-2 .card:nth-of-type(3n+2) {
    margin: 0 auto 4.5rem;
}

@media (max-width: 750px) {

    .container {
        width: 33.75rem;
    }

    /* header */
    
    header > .container {
        width: 90%;
    }

    /* counter */

    .counter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .counter-container .counter-cell:first-child {
        margin-left: 0;
    }
    
    .counter-container .counter-cell:last-child {
        margin-right: 0;
    }
}

@media (max-width: 569px) {

    .container {
        width: 100%;
    }

    /* navbar */

    nav > .container {
        width: 90%;
        padding: 0 .75rem;
    }

    /* cards-2 */

    .cards-2 .card {
        width: 100%;
        margin: 0 auto 4.5rem;
        display: flex;
        flex-direction: column;
    }
}