html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    font-size: 1rem;
}

.container {
    width: 60rem;
}

.col-1 {
    flex: 0 0 auto;
    width: calc(6.4/12*100%);
    padding: 0 .75rem;
}

.col-2 {
    flex: 0 0 auto;
    width: calc(5/12*100%);
    padding: 0 .75rem;
}

/* haeder */

header {
    padding: 11rem 0 5rem;
}

header .text-container {
    margin-top: 4rem;
}

header .text-container h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

/* counter */

.counter-container .counter-cell:first-child {
    margin-left: 4rem;
}

.counter-container .counter-cell:last-child {
    margin-right: 4rem;
}

.counter-cell .purecounter {
    font-size: 6rem;
    line-height: 4rem;
}

/* introduction */

#introduction .col-3 {
    width: 100%;
}

/* details */

#details .col-4 {
    flex: 0 0 auto;
    width: calc(6/12*100%);
}

#details .col-5 {
    flex: 0 0 auto;
    width: calc(6/12*100%);
}

#details .text-container {
    margin: 0;
}

/* services */

#services .text-container {
    margin-top: 0;
    margin-right: 0;
}

#services .card:nth-of-type(3n+1) {
    margin-left: 2rem;
}

#services .card:nth-of-type(3n+3) {
    margin-right: 2rem;
}

#services .card {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* basic-3 */

.basic-3 .col-8 {
    flex: 0 0 auto;
    width: calc(6/12*100%);
}

.basic-3 .text-container {
    margin: 0 0 5rem 0;
}

.basic-3 .col-9 {
    flex: 0 0 auto;
    width: calc(6/12*100%);
}

/* cards-2 */

.cards-2 .card {
    width: 18.25rem;
    margin: 0 auto 4.5rem;
    display: inline-block;
}