* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    height: 2000px;
}

body {
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #52565b;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

.text-primary {
    color: #06BBCC;
}

.btn {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #06BBCC;
    border-color: #06BBCC;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
}

.navbar .btn {
    height: 75px;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
}

.nav-link {
    color: var(--dark);
    font-weight: 500;
    margin-right: 30px;
    padding: 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #06BBCC;
}

@media (min-width: 1199.98px) {
    h2 {
        font-size: 2rem;
    }
}