* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 2000px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

img, svg {
    vertical-align: middle;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.rounded-pill {
    border-radius: 50rem;
}

.btn-rounded {
    position: relative;
    padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
    font-weight: 700;
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    background-color: #fff;
}

.btn-rounded span {
    position: absolute;
    background-color: #9926f0;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.btn-rounded span i {
    color: #fff;
    font-size: 1rem;
    line-height: 2.5rem;
}

/* navbar */

.navbar {
    background-image: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.collapse {
    display: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 0.7rem;
}

.nav-link {
    color: rgba(255, 255, 255, 0.55);
    padding: 0 0.5rem;
}

.navbar li a {
    font-weight: 600;
}

@media (min-width: 992px) {
    .collapse {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
}